.ordered-list{
    position: sticky;
    top: 0;
}

.delete-btn{
    background-color: red;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 25px;
}

.list{
    margin: 20px 0;
}